<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. Pages with URLs /about/, /contact/, and
        /privacy-policy/ are excluded from the navigation.
      {% endcomment %}
    
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% unless node.url == "/about/" or node.url == "/contact/" or node.url == "/privacy-policy/" %}
            {% if node.layout == "page" %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a>
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>
